## Imports

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing,svm
from sklearn.model_selection import train_test_split

## Dataset

In [11]:
col_names = ['animal name','hair','feathers','eggs','milk','airborne','aquatic',
            'predator','toothed','backbone','breathes','venomous','fins','legs',
            'tail','domestic','catsize','type']
df = pd.read_csv('zoo.data',names = col_names)
df.replace('?',-99999,inplace = True)
df.drop(['animal name'],1,inplace = True)
df

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [12]:
X = np.array(df.drop(['type'],1))
y = np.array(df['type'])

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 0)
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_transformed = scaler.transform(X_train)
X_train_transformed

array([[-0.90453403, -0.5       ,  0.8819171 , ...,  0.59660054,
        -0.42008403, -0.95118973],
       [ 1.1055416 , -0.5       , -1.13389342, ..., -1.67616342,
        -0.42008403,  1.05131497],
       [-0.90453403,  2.        ,  0.8819171 , ...,  0.59660054,
        -0.42008403,  1.05131497],
       ...,
       [ 1.1055416 , -0.5       , -1.13389342, ...,  0.59660054,
        -0.42008403,  1.05131497],
       [ 1.1055416 , -0.5       , -1.13389342, ...,  0.59660054,
        -0.42008403,  1.05131497],
       [ 1.1055416 , -0.5       , -1.13389342, ...,  0.59660054,
        -0.42008403,  1.05131497]])

In [15]:
clf = svm.SVC(C=1)
clf.fit(X_train_transformed,y_train)
X_test_transformed = scaler.transform(X_test)

In [16]:
confidence = clf.score(X_test_transformed,y_test)
confidence

0.9047619047619048

In [18]:
example_measures = np.array([[1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1]])
example_measures = example_measures.reshape(len(example_measures),-1)
prediction = clf.predict(example_measures)
prediction

array([1], dtype=int64)